body {
    width: 100%;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #141f40;
}
.content {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.other {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #d98d30;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}